@use "../function";
@use "../variable";
@import "../landing/header";

.title-container {
  @include flexBetween;

  .title-box h1 {
    max-width: 480px;
    width: 100%;
    letter-spacing: 0.2rem;
    padding-bottom: 2rem;
  }
  p {
    max-width: 100%;
    width: 47rem;
    letter-spacing: 0.1rem;
    padding: 3% 0;
    font-weight: lighter;
    line-height: 2;
  }
  .project-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }
  .project-box {
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
  }

  .box4 {
    gap: 1.9rem;
  }

  .project-title {
    opacity: $opacity-letter;
    position: relative;
    padding-bottom: 7px;
    &::before {
      @include line-under;
      width: 18rem;
    }
  }
}

@media (max-width: 1300px) {
  .title-container {
    @include flexCenter;
    flex-direction: column;

    .title-box {
      text-align: center;

      h1 {
        max-width: 1000px;
      }
    }
  }
}
@media (max-width: 800px) {
  .title-container {
    .title-box {
      h1 {
        font-size: 23px;
      }
      p {
        margin-bottom: 20px;
        width: 100%;
        max-width: 700px;
      }
    }
  }
}
