.img-container {
  padding-top: 7%;

  .walk-img {
    max-width: 100%;
    width: 100%;
  }
  p {
    padding-top: 2rem;
    font-weight: lighter;
    margin: 5px;
  }
}
.contianer2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3.8rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
