@import "../Contact/header.scss";
@import "../Contact/main.scss";
@import "../Contact/footer.scss";

body {
  font-family: "Mulish", sans-serif;
  padding: 0 7%;
  color: $main-color;
  margin: 0 0;
  box-sizing: border-box;
}
