@use "../function";
@use "../variable";

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0 2% 0;
  .logo {
    padding-left: 0px;
    margin-right: auto;
  }

  .footer-nav-box {
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
  }
  li {
    list-style: none;
  }
  a {
    padding-left: 20px;
    text-decoration: none;
    letter-spacing: 0.1rem;
    color: #111111;
    font-weight: bold;
  }

  img {
    padding-right: 20px;
  }
}
@media (max-width: 400px) {
  footer {
    .logo img {
      width: 60px;

      padding-bottom: 20px;
    }
    .footer-conttainer {
      .footer-nav-box {
        li a {
          font-size: 10px;
          line-height: 7;
        }
      }
    }
    .social-box img {
      width: 12px;
    }
  }
}
