@use "../function";
@use "../variable";
/*Gallery section*/
.gallery-container {
  margin-top: 10%;
  .gallery-box {
    margin-top: 7%;
    display: flex;
    justify-content: center;
    place-items: center;
    min-height: 100vh;

    .gallery-detail {
      @include flexBetween;
      flex-direction: row;
      gap: 30px;
    }
    .box {
      @extend %flex-columns;
      width: 32.5%;
    }
    img {
      width: 100%;
      padding-bottom: 20px;
    }
  }
}
.letter-container {
  display: flex;
  justify-content: space-around;
  padding-top: 7%;
  padding-bottom: 7%;
  h2 {
    max-width: 100%;
    width: 35rem;
    letter-spacing: 0.1rem;
  }
  p {
    opacity: $opacity-letter;
  }
}

/*Awards section*/
.awards-box1,
.awards-box2 {
  position: relative;
  padding: 4% 0;

  @include flexBetween;
  &::before {
    @include line;
    width: 100%;
  }
  h4 {
    max-width: 100%;
    width: 16rem;
  }
  .award-title-box {
    @extend %flex-columns;
    gap: 5rem;
  }
  .awards-detail-box {
    @extend %flex-columns;
    max-width: 100%;
    width: 10rem;
    gap: 1.3rem;
  }
  span {
    opacity: $opacity-letter;
  }
  .year-box {
    @extend %flex-columns;
    gap: 6rem;
  }
}

.awards-box2::before {
  content: "";
  position: absolute;
  border-bottom: 2px solid $line-color;
  bottom: 0;
}
