@import "../function";
@import "../variable";
/*Gallery section*/
.gallery-box {
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  grid-gap: 10px;
  img {
    max-width: 100%;

    object-fit: cover;
  }
}

.letter-container {
  display: flex;
  justify-content: space-around;
  padding-top: 7%;
  padding-bottom: 7%;
  h2 {
    max-width: 100%;
    width: 35rem;
    letter-spacing: 0.1rem;
  }
  p {
    opacity: $opacity-letter;
  }
}

/*Awards section*/
.awards-box1,
.awards-box2 {
  position: relative;
  padding: 4% 0;

  @include flexBetween;
  &::before {
    @include line;
    width: 100%;
  }
  h4 {
    max-width: 100%;
    width: 16rem;
  }
  .award-title-box {
    @extend %flex-columns;
  }
  .awards-detail-box {
    @extend %flex-columns;
    max-width: 100%;
    width: 10rem;
  }
  span {
    opacity: $opacity-letter;
  }
  .year-box {
    @extend %flex-columns;
  }
}

.awards-box2::before {
  content: "";
  position: absolute;
  border-bottom: 2px solid $line-color;
  bottom: 0;
}
